<h1>Editing Friend</h1>

<%= render 'form', friend: @friend %>

<%= link_to "<i class='fas fa-eye'></i> Show".html_safe, @friend, class:'btn btn-secondary mt-4' %>
<%= link_to "<i class='fas fa-trash'></i> Delete".html_safe, @friend, class:'btn btn-danger mt-4', method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to "<i class='fas fa-chevron-left'></i> Back".html_safe, friends_path, class:'btn btn-dark mt-4' %>
